<div class="container mt-5 mb-5">
    <h1 class="text-center">About</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit consequuntur sint facere voluptatum vel distinctio sapiente suscipit numquam officia aliquam debitis id quas natus architecto libero nisi, temporibus quod cupiditate.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id ducimus est ipsum asperiores accusantium dolor quia labore facilis, maxime ab sequi reprehenderit a ipsa veniam. Consectetur aliquam pariatur assumenda? Aliquid.
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati, quas ipsam architecto ut repudiandae temporibus iure cupiditate id quo. Autem earum suscipit ducimus magnam vel dolorem quis, quas asperiores minus.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo incidunt rem iure iusto explicabo, aperiam, obcaecati eius, natus provident eos repudiandae voluptate vero optio itaque alias voluptatem modi numquam rerum?
        <br/>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, ad sint eius quam sunt minus magnam saepe voluptatum ullam commodi fuga, tempore, vel dicta alias. Sed fugiat iure accusantium dolores.
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorem expedita delectus voluptas laborum. Ab, cumque veniam fugit ipsam sint vero magnam suscipit amet tempora eius enim est corrupti reprehenderit at.
        <br/>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam autem enim, esse, quae laborum voluptates alias accusantium in illo obcaecati adipisci neque ea itaque eos modi ullam blanditiis. Nemo, nihil.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt corporis, reiciendis quas quis odit commodi non cum officiis obcaecati quam nisi suscipit ut? Qui ipsum alias dolores accusamus tempora a.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis facere totam error incidunt commodi ratione sed, voluptates quibusdam quas quisquam, quae at iusto, a quo minus officiis qui nobis. Numquam?
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi exercitationem voluptates nesciunt dolorem magnam. Aperiam dolorem eaque earum id ex provident aliquam in consectetur, maxime assumenda omnis iure suscipit aliquid?
   <br/>
    </p>
</div>